.food-card{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}
.food-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}
.food-info{
    margin: 20px 0;
    line-height:26px;
}
.food-info h3{
    margin: 10px 0;
}
.food-info p{
    margin-bottom: 12px;
}
.btn{
    width: 100%;
    padding: 13px;
    font-family: montserrat;
    font-weight: 500;
    background-color: #C21010;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s;
}
.btn:hover{
    background-color: #FFDE00;
    color: #000;
}