.todo-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 50px;
}

.todo-information{
    padding: 25px;
    margin: 50px;
}
.todo-stats{
    background-color: #fff;
    padding: 15px;
}

.logo-wrapper{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.logo-wrapper h1{
    color: #C21010;
    font-size: 28px;
    padding-top: 20px;
    margin-left: 15px;
}
.todo-wrapper{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}

/* media query  for mobile devices*/

@media screen and (max-width: 576px) {
    .todo-container{
        grid-template-columns:1fr;
    }
    .logo-wrapper{
        justify-content: center;
    }
    .select-items{
        text-align: center;
    }
    .todo-information{
        margin: 0;
    }
    .todo-wrapper{
        grid-template-columns: 1fr;
    }
    .todo-stats {
        margin-bottom: 40px ;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 6px;
    }
    .todo-stats h2{
        font-size: 20px;
    }
}