.todos-wrapper{
    position: sticky;
    top: 0;
    padding-top: 20px;
}

.person-info{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-info img{
    width: 35%;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid #C21010;
    box-shadow: 10px 2px 55px -3px rgba(194,16,16,0.2);
    -webkit-box-shadow: 10px 2px 55px -3px rgba(194,16,16,0.2);
    -moz-box-shadow: 10px 2px 55px -3px rgba(194,16,16,0.2);
}
.person-info h3{
    margin: 15px;
}
.person-info p{
    font-size: 16px;
    font-weight: 500;
}
.fa-Location{
    color: #C21010;
    margin-right: 10px;
}
.physical-info,
.break-btn,
.eating-time,
.break-time{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin: 30px 0;
    background-color: #C21010;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
}
.physical-info h4{
    font-size: 26px;
    padding: 7px 0;
}
.break-btn button{
    margin: 10px 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    font-family: montserrat;
   height: 50px;
   width: 50px;
    font-size: 16px;
    font-weight: 500;
}

.break-btn > button:hover{
    background-color: #FFDE00;
    color: #000;
}
.eating-time,
.break-time{
   padding: 30px 0;
}
.activity-done{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
.activity-done > button{
    border: none;
    width: 100%;
    padding: 20px  0;
    font-family: montserrat;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    background-color: #FFDE00;
    color: #000;
    cursor: pointer;
    transition: .4s;
}
.activity-done button:hover{
    background-color: #C21010;
    color: #fff;
}